.element__like{
    background: none;
    border: none;
    box-shadow: none;
    background-image: url(../../../images/like.svg);
    width: 100%;
    max-width: 22px;
    max-height: 19px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-image 0.2s;
}

 .element__like:hover{
    background-image: url(../../../images/like\ hover.svg);
}