.element__like_active{
    background: none;
    border: none;
    box-shadow: none;
    background-image: url(../../../../images/like\ active.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width: 22px;
    max-height: 19px;
    margin-top: 5px;
    cursor: pointer;
}
